.phone {
    // position: absolute;
    // top: 50px;
    // left: 150px;
    width: 740px;
    height: 740px;
    background: url('../../../../assets/img/phone.png');
    background-size: cover;
    position: relative;

    
   
}

.pic {
    width: 280px;
    height: 200px;
    position: absolute;
    top: 145px;
    left: 230px;
}
.pic1 {
    width: 95px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 230px;
}
.pic2 {
    width: 95px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 325px;
}
.pic3 {
    width: 95px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 415px;
}
.pic4 {
    width: 95px;
    height: 100px;
    position: absolute;
    top: 505px;
    left: 230px;
}
.pic5 {
    width: 95px;
    height: 100px;
    position: absolute;
    top: 505px;
    left: 325px;
}
.pic6 {
    width: 95px;
    height: 100px;
    position: absolute;
    top: 505px;
    left: 415px;
}


  