<div class="gamequery" furyPage furyPagePadding furyScrollbar>
  <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxFlex="100%">
          <mat-card-content fxLayout="column">
              <form [formGroup]="form1">
                  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="8px">

                      <mat-form-field fxFlex hintLabel="最多輸入40個字">
                          <input matInput type="text" placeholder="遊戲名稱" formControlName="gameDesc" required maxlength=40>
                          <mat-hint align="end">{{ form1.get('gameDesc').value?.length }}/40</mat-hint>
                          <mat-error *ngIf="form1.get('gameDesc').hasError('required')">「遊戲名稱」為必填欄位</mat-error>
                      </mat-form-field>
                                    </div>

                  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                      <mat-label fxLayoutAlign="end center">
                          開始日期區間 ：
                      </mat-label>

                      <mat-form-field fxFlex>
                          <input type="text" matInput placeholder="起" [matDatepicker]="m1" formControlName="startDate" readonly>
                          <mat-datepicker-toggle [for]="m1" matSuffix></mat-datepicker-toggle>
                          <mat-datepicker #m1 touchUi="true"></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field fxFlex>
                          <input type="text" matInput placeholder="迄" [matDatepicker]="m2" formControlName="endDate" readonly>
                          <mat-datepicker-toggle [for]="m2" matSuffix></mat-datepicker-toggle>
                          <mat-datepicker #m2 touchUi="true"></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                      <div fxLayoutAlign="start center">適用通路：
                          <mat-radio-group fxLayout="row" fxLayoutGap="16px" formControlName="channelId" required>
                              <mat-radio-button *ngFor="let data of getChannelId" [value]="data.codeNo">{{ data.codeExplain }}</mat-radio-button>
                          </mat-radio-group>
                          <mat-error *ngIf="form1.get('channelId').hasError('required')">「適用通路」為必填欄位</mat-error>
                      </div>
                  </div>

              </form>
              <div fxLayout="row" fxLayoutAlign="end center">
                  <button [disabled]="!this.form1.valid" color="primary" mat-raised-button style="margin-left: 8px;" (click)="getStock()"
                      type="button">查詢</button>
              </div>

          </mat-card-content>
      </mat-card>
  </div>
  <mat-table #table [dataSource]="dataSource">
      <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
              <mat-header-cell *matHeaderCellDef> {{ column.name }}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
          
          </ng-container>
      </ng-container>
      <ng-container matColumnDef="management">
        <mat-header-cell *matHeaderCellDef>
          操作
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-icon-button matTooltip="QRcode" color="primary" (click)="qrCode(row);$event.stopPropagation();" [disabled]=" row.pushStatus==='E'? true: false">
            <mat-icon>cloud_download</mat-icon>
          </button>
           
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="updateCustomer(row)" class="clickable"></mat-row>
  </mat-table>

  <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

</div>
<fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>